In [1]:
import spacy

In [6]:
doc = nlp('''"Let's go to N.Y.!"''')

for token in doc:
    print(token)

"
Let
's
go
to
N.Y.
!
"

In [10]:
nlp = spacy.blank("en")

doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [13]:
doc = nlp("Tony gave two $ to Peter.")

In [14]:
token0 = doc[0]
token0

Tony

In [16]:
type(token0)

spacy.tokens.token.Token

In [19]:
token0.like_num

False

In [22]:
token3 = doc[3]
token3

$

In [24]:
token3.is_currency

True

In [29]:
with open("students.txt") as f:
    text = f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com\n',
 '\n',
 '\n',
 '\n']

In [30]:
text = " ".join(text)
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com\n \n \n \n'

In [34]:
doc = nlp(text)
emails = []
for token in doc:
    if token.like_email:
        emails.append(token)
emails

[virat@kohli.com, maria@sharapova.com, serena@williams.com, joe@root.com]

In [37]:
nlpjp = spacy.blank("ja")
docjp = nlpjp("それはそれで嫌なんだけどね。")
for token in docjp:
    print(token)

それ
は
それ
で
嫌
な
ん
だ
けど
ね
。

In [44]:
doc = nlp("gimme double cheese extra large healthy pizza")

tokens = [token.text for token in doc]
tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [43]:
from spacy.symbols import ORTH, NORM

nlp.tokenizer.add_special_case("gimme", [
    {ORTH: "gim", NORM: "give"},
    {ORTH: "me"}
])

In [48]:
doc = nlp("Dr. Strange loves pav bhaji of mumbai. Hulk loves chat of delhi")

for sentence in doc.sents:
    print(sentence)

Dr. Strange loves pav bhaji of mumbai.
Hulk loves chat of delhi

In [51]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, 
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

# TODO: Write code here
# Hint: token has an attribute that can be used to detect a url
doc = nlp(text)
urls = [token.text for token in doc if token.like_url]
urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

In [55]:
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"

# TODO: Write code here
# Hint: Use token.i for the index of a token and token.is_currency for currency symbol detection

doc = nlp(transactions)
for token in doc:
    if token.like_num and doc[token.i + 1].is_currency:
        print(token.text, doc[token.i + 1].text)

two $
500 €